@charset "UTF-8";

/*Device BreakPoints
---------------------
Pequenas telas: até 600px
Celulares: de 600px até 768px
Tabletes: de 768px até 992px
DeskTop: de 992px até 1200px
Televisão: de 1200px até 1400px
*/

@media all {
    * {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header {
    background-color: greenyellow;
}

.titulo1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: bold;
}

.titulo2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: bold;
}

.titulo3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: bold;
}

nav {
    padding: 10px;
    background-image: linear-gradient(to right, rgba(218, 218, 0, 0.911), rgba(255, 166, 0, 0.856));
}

nav a {
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
    background-color: white;
}

.logo {
    padding: 15px;
    display: block;
    margin: auto;
    margin-bottom: 0;
}

h2.slogan {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
main {
    min-width: 320px;
    max-width: 950px;
    margin: auto;
    background-color: white;
}
main h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    font-weight: bold;
    text-indent: 20px;
    line-height: 1.5em;
}
main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    color: black;
}

.img1 {
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url("../imagens/img-home1-form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-color: gray;

}

.img2 {
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url("../imagens/img-noticias-cabe-form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-color: gray;

}

.img3 {
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url("../imagens/educacao-ambiental-form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: gray;

}

.img4 {
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: url("../imagens/img-home4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: gray;

}

footer {
    padding: 25px;
    background-color: black;
}

footer p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: white
}

footer img {
    display: block;
    margin: auto;
}

footer a {
    text-decoration: none;
    color: goldenrod;
}

footer a:hover {
    text-decoration: underline;
}
}

/*configurações portateis*/

@media screen and (orientation: portrait){
    .img2 {
        padding-top: 300px;
        padding-bottom: 300px;
        background-image: url("../imagens/painel-solar-not-form.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        background-color: gray;
    
    }
}